body {
  width: 100%;
  min-height: 100vh;
}


.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.robot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.robot_content {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.image_div {
  display: flex;
  justify-content: center;
}